﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tchat</h1>
    
    <div style="height:400px; margin:0 10% 0 10%; overflow: auto; border-style: inset inset inset inset;">
        @foreach(Dbo.Message message in Model.Messages)
        {
        <div style="border: black 3px; border-spacing: 40px; border-style: none none none double; margin-top: 40px; padding-left: 5px;">
            @message.Body
        </div>
        <div style="position: relative;">
            <div style="font-style: italic; margin-top: 4px; position: absolute; left: 0px;">
                Envoyé par @message.Username
            </div>
        </div>
        }
    </div>

    <form method="post">
        <div>
            <input placeholder="Username" style="width: 150px; margin: 10px 20% 0 0;" type="text" asp-for="username" />
            <input placeholder="Message" style="width: 100%; margin: 10px 20% 0 0;" type="text" asp-for="message" />
            <button class="btn btn-success" type="submit" style="margin: 10px">Envoyer</button>
        </div>
    </form>
</div>
